{% extends 'base_layout.html' %}

{% block content%}


<div class="schedule">
    <table class="table table-bordered">
        <thead class="thead">
            <tr>
                <th colspan="100%">Schedule</th>
            </tr>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Class Name</th>
                <th scope="col">Instructor</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr>
                {% for i in dayOrder%}
                    {% if i == 6 %}
                        {% for class in sundayList %}
                        <tr>
                                <form action="{% url 'reservations:reserve' %}" method="post">
                                {% csrf_token %}
                                    <td>{{class.dayOfWeek}}</td>
                                    <td>{{class.className}}</td>
                                    <td>{{class.instructorName}}</td>
                                    <td>{{class.startTime}} - {{class.endTime}}</td>
                                        {% for k,v in datesList.items %}
                                            {% if k == 'Sunday' %}
                                                <input name="date" type="hidden" value="{{v}}"></input>
                                                    <td>{{v}}</td>                                        
                                                {% endif %}
                                        {% endfor %}
                                        <input name="className" type="hidden" value="{{class.className}}"></input>
                                        <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                        <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                        <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                        <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                        <input name="classId" type="hidden" value="{{class.id}}"></input>
                                    <td>
                                        {% for k,v in availableDays.items %}
                                            {% if k ==  'Sunday' %}
                                                <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                            </form>
                        </tr>
                        {% endfor %}
                    {% elif i == 5 %}
                        {% for class in saturdayList %}
                            <tr>
                                
                                    <form action="{% url 'reservations:reserve' %}" method="post">
                                    {% csrf_token %}
                                        <td>{{class.dayOfWeek}}</td>
                                        <td>{{class.className}}</td>
                                        <td>{{class.instructorName}}</td>
                                        <td>{{class.startTime}} - {{class.endTime}}</td>
                                            {% for k,v in datesList.items %}
                                                {% if k == 'Saturday' %}
                                                    <input name="date" type="hidden" value="{{v}}"></input>
                                                    <td>{{v}}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <input name="className" type="hidden" value="{{class.className}}"></input>
                                            <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                            <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                            <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                            <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                            <input name="classId" type="hidden" value="{{class.id}}"></input>
                                        <td>
                                            {% for k,v in availableDays.items %}
                                                {% if k ==  'Saturday' %}
                                                    <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                </form>
                            </tr>
                        {% endfor %}
                    {% elif i == 4 %}
                        {% for class in fridayList %}
                            <tr>
                                
                                    <form action="{% url 'reservations:reserve' %}" method="post">
                                    {% csrf_token %}
                                        <td>{{class.dayOfWeek}}</td>
                                        <td>{{class.className}}</td>
                                        <td>{{class.instructorName}}</td>
                                        <td>{{class.startTime}} - {{class.endTime}}</td>
                                            {% for k,v in datesList.items %}
                                                {% if k == 'Friday' %}
                                                    <input name="date" type="hidden" value="{{v}}"></input>
                                                    <td>{{v}}</td>
                                                {% endif %}
                                            {% endfor %}
                                                <input name="className" type="hidden" value="{{class.className}}"></input>
                                                <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                                <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                                <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                                <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                                <input name="classId" type="hidden" value="{{class.id}}"></input>
                                            <td>
                                                {% for k,v in availableDays.items %}
                                                    {% if k ==  'Friday' %}
                                                        <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                    </form>
                            </tr>
                            {% endfor %}
                    {% elif i == 3 %}
                            {% for class in thursdayList %}
                                <tr> 
                                    <form action="{% url 'reservations:reserve' %}" method="post">
                                        {% csrf_token %}
                                                <td>{{class.dayOfWeek}}</td>
                                                <td>{{class.className}}</td>
                                                <td>{{class.instructorName}}</td>
                                                <td>{{class.startTime}} - {{class.endTime}}</td>
                                                    {% for k,v in datesList.items %}
                                                        {% if k == 'Thursday' %}
                                                            <input name="date" type="hidden" value="{{v}}"></input>
                                                            <td>{{v}}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <input name="className" type="hidden" value="{{class.className}}"></input>
                                                    <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                                    <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                                    <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                                    <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                                    <input name="classId" type="hidden" value="{{class.id}}"></input>
                                                <td>
                                                    {% for k,v in availableDays.items %}
                                                        {% if k ==  'Thursday' %}
                                                            <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                    </form>
                                </tr>   
                            {% endfor %}
                    {% elif i == 2 %}
                        {% for class in wednesdayList %}
                            <tr>
                                
                                    <form action="{% url 'reservations:reserve' %}" method="post">
                                    {% csrf_token %}
                                            <td>{{class.dayOfWeek}}</td>
                                            <td>{{class.className}}</td>
                                            <td>{{class.instructorName}}</td>
                                            <td>{{class.startTime}} - {{class.endTime}}</td>
                                                {% for k,v in datesList.items %}
                                                    {% if k == 'Wednesday' %}
                                                        <input name="date" type="hidden" value="{{v}}"></input>
                                                        <input name="date" type="hidden" value="{{v}}"></input>
                                                        <td>{{v}}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                <input name="className" type="hidden" value="{{class.className}}"></input>
                                                <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                                <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                                <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                                <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                                <input name="classId" type="hidden" value="{{class.id}}"></input>
                                            <td>
                                                {% for k,v in availableDays.items %}
                                                    {% if k ==  'Wednesday' %}
                                                        <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                </form>
                            </tr>
                        {% endfor %}
                    {% elif i == 1 %}
                        {% for class in tuesdayList %}
                            <tr>
                                
                                    <form action="{% url 'reservations:reserve' %}" method="post">
                                    {% csrf_token %}
                                            <td>{{class.dayOfWeek}}</td>
                                            <td>{{class.className}}</td>
                                            <td>{{class.instructorName}}</td>
                                            <td>{{class.startTime}} - {{class.endTime}}</td>
                                                {% for k,v in datesList.items %}
                                                    {% if k == 'Tuesday' %}
                                                        <input name="date" type="hidden" value="{{v}}"></input>
                                                        <td>{{v}}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                <input name="className" type="hidden" value="{{class.className}}"></input>
                                                <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                                <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                                <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                                <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                                <input name="classId" type="hidden" value="{{class.id}}"></input>
                                            <td>
                                                {% for k,v in availableDays.items %}
                                                    {% if k ==  'Tuesday' %}
                                                        <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                    </form>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for class in mondayList %}
                            <tr>
                                    <form action="{% url 'reservations:reserve' %}" method="post">
                                    {% csrf_token %}
                                            <td>{{class.dayOfWeek}}</td>                                
                                            <td>{{class.className}}</td>
                                            <td>{{class.instructorName}}</td>
                                            <td>{{class.startTime}} - {{class.endTime}}</td>
                                                {% for k,v in datesList.items %}
                                                    {% if k == 'Monday' %}
                                                        <input name="date" type="hidden" value="{{v}}"></input>
                                                        <input name="date" type="hidden" value="{{v}}"></input>
                                                        <td>{{v}}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                <input name="className" type="hidden" value="{{class.className}}"></input>
                                                <input name="startTime" type="hidden" value="{{class.startTime}}"></input>
                                                <input name="endTime" type="hidden" value="{{class.endTime}}"></input>
                                                <input name="instructorName" type="hidden" value="{{class.instructorName}}"></input>
                                                <input name="dayOfWeek" type="hidden" value="{{class.dayOfWeek}}"></input>
                                                <input name="classId" type="hidden" value="{{class.id}}"></input>
                                            <td>
                                                {% for k,v in availableDays.items %}
                                                    {% if k ==  'Monday' %}
                                                        <input name="{{class.id}}" type="submit" value="Reserve"></input>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                    </form>
                            </tr>
                        {% endfor %}                                                                                                        
                    {% endif %}               
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <!--modification end -->
</div>

<div class="schedule-statement">
    <h8>{{statement}}</h8>
</div>
{% endblock %}